.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f4f8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  transition: width 0.3s ease, box-shadow 0.3s ease;
}

.sidenav.open {
  width: 250px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.sidenav:not(.open) {
  width: 0;
  overflow: hidden;
}

.sidenav .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sidenav .logo {
  max-width: 80%;
  height: auto;
}
.sidenav .menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10%;
}

.sidenav .menu-item {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidenav .menu-item:hover,
.sidenav .menu-item.active {
  color: #ffffff;
  background-color: #5988E2;
  box-shadow: inset 4px 0 0 #3a67ba;
  border-radius: 5px;
}

.sidenav .pro {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidenav .pro .menu-item {
  padding: 15px;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidenav .pro .menu-item:hover,
.sidenav .pro .menu-item.active {
  color: #ffffff;
  background-color: #f25252;
  box-shadow: inset 4px 0 0 #d14242;
  border-radius: 5px;
}

.main-content {
  transition: margin-left 0.3s ease;
  /* padding: 5px; */
}

.navbar-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #5988E2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-toggle {
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 20px;
}

.nav-title {
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  font-size: calc(1rem + 1vw);
}

@media screen and (max-width: 768px) {
  .text-responsive {
    font-size: calc(1rem + 1.5vw);
  }
}


.logo-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}
.logo-details .dp{
  height: 100px;
  border-radius: 50%;
  border: #3a67ba solid;
  text-align: center;
  margin-top: 10%;
}
.name{
  font-size: 25px;
  color: #3a67ba;
  text-align: center;
}
