<!-- <div class="tabs tab-right">
  <nav>
    <a href="#content1">Tab1</a>
    <a href="#content2">Tab2</a>
    <a href="#content3">Tab3</a>
  </nav>
  <div class="content" id="content1">Content1</div>
  <div class="content" id="content2">Content2</div>
  <div class="content" id="content3">Content3</div>
</div>

<div class="tabs tab-left">
  <nav>
    <a href="#content4">Tab1</a>
    <a href="#content5">Tab2</a>
    <a href="#content6">Tab3</a>
  </nav>
  <div class="content" id="content4">Content1</div>
  <div class="content" id="content5">Content2</div>
  <div class="content" id="content6">Content3</div>
</div>

<div class="tabs tab-left-right">
  <nav>
    <a href="#content7">Tab1</a>
    <a href="#content8">Tab2</a>
    <a href="#content9">Tab3</a>
  </nav>
  <div class="content" id="content7">Content1</div>
  <div class="content" id="content8">Content2</div>
  <div class="content" id="content9">Content3</div>
</div>

<div class="tabs tab-round">
  <nav>
    <a href="#content10">Tab1</a>
    <a href="#content11">Tab2</a>
    <a href="#content12">Tab3</a>
  </nav>
  <div class="content" id="content10">Content1</div>
  <div class="content" id="content11">Content2</div>
  <div class="content" id="content12">Content3</div>
</div> -->


<h2></h2>
<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">

  <div class="tabs" style="display: inline-flex; justify-content: space-between; float: right;">
    <label class="tab" id="one-tab" for="one">Receivings</label>
    <label class="tab" id="two-tab" for="two">Releasings</label>
  </div>

  <div class="panels">
    <div class="panel" id="one-panel">
      <app-receiving></app-receiving>
    </div>
    <div class="panel" id="two-panel">
      <app-release></app-release>
    </div>
  </div>
</div>
