<div class="tabs tab-round">
  <nav>
    <a href="#content4">Receivings</a>
    <a href="#content5">Releasings</a>
  </nav>
  <div class="content" id="content4"><app-receiving></app-receiving></div>
  <div class="content" id="content5"><app-release></app-release></div>
</div>


<!-- <h2></h2>
<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">

  <div class="tabs" style="display: inline-flex; justify-content: space-between; float: right;">
    <label class="tab" id="one-tab" for="one">Receivings</label>
    <label class="tab" id="two-tab" for="two">Releasings</label>
  </div>

  <div class="panels">
    <div class="panel" id="one-panel">
      <app-receiving></app-receiving>
    </div>
    <div class="panel" id="two-panel">
      <app-release></app-release>
    </div>
  </div>
</div> -->
