table {
  width: 100%;
  background-color: white;

}


.containerTab{
  height: 470px;
  overflow: auto;
}
tr.data-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.data-row:not(.example-expanded-row):active {
  background: #efefef;
}

.container-table{
  box-shadow: rgba(0, 0, 0, 0.33) 1px 5px 7px 0;
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
  border-radius: 10px;

}

.input-wrapper {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  margin: 1%;
  padding: .5%;
  border: solid rgba(115, 116, 116, 0.644) 2px;
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.clearSearch{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.search-input {
  padding-left: 40px;
  background-color: transparent;
  overflow: hidden;
  border: none;
}
.search-input:focus{
  border: none;
  box-shadow: none;
  outline: none;
}
input::before{
  border: none;
}

th{
  border-bottom: 2px solid #000;
}

.mat-table .mat-row {
  cursor: pointer;
}

.custom-paginator .mat-mdc-paginator-range-actions-labels{
display: none;
background-color: transparent;
flex-direction: column;
}
