<section style="height: 100vh;">
  <div class="wrapper fadeInDown">
      <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Staff Log In</h2>

          <!-- Icon -->
          <div class="fadeIn first">
              <img src="" id="icon" alt="" style="width: 30%" />
          </div>

          <!-- Login Form -->
          <form>
              <div id="wrong" class="text-center text-danger mx-4 rounded mb-3" style="display: none; background-color: rgba(251, 198, 198, 0.896); color: rgb(247, 76, 76); font-size: 14px;">Either the Username or Password you've entered is incorrect!</div>

              <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username" required />

              <div id="nousername" class="text-danger mt-2 mb-3" style="display: none;">
                  <small>Please input a username</small>
              </div>


              <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required />
              <div id="nopassword" class="text-danger mt-2 mb-3" style="display: none;">
                  <small>Please input a password</small>
              </div>

              <input type="submit" class="fadeIn fourth mt-3" (click)="login()"  value="Log In">
          </form>

      </div>
  </div>
</section>
